In [228]:
import pandas as pd

In [229]:
data_set = pd.read_excel('Data.xlsx') # this file is only in my local machine
import os
path = 'Dataset/'
data_set.to_csv(os.path.join(path+r'data.csv'))

In [230]:
data = pd.read_csv("Dataset/data.csv")
data

    Unnamed: 0  Gender  Age  Height  Weight   Blood relative_headache
0            0  female   18     165      53   A Rh+               yes
1            1  female   18     171      60   0 Rh+               yes
2            2    male   19     167      73   0 Rh+               yes
3            3    male   18     170      65  AB Rh+                no
4            4    male   18     183      76   0 Rh+                no
5            5    male   20     179     100   0 Rh+                no
6            6    male   18     175      72   A Rh+               yes
7            7    male   18     175      90   0 Rh+               yes
8            8    male   18     179      61   0 Rh+               yes
9            9  female   18     163      57   A Rh+               yes
10          10    male   18     181      82   B Rh+               yes
11          11    male   18     177      81   0 Rh+               yes
12          12    male   19     181      93   0 Rh+               yes

In [52]:
# Data cleaning
# There is no null data and unrelated data , so we dont need to drop or change anything
# just look up the datatypes
data.info()
# We can convert the relative headache to a boolean value
# we drop Rh+ cause they dont have any meaning for only this table - no negative blood type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             13 non-null     object
 1   Age                13 non-null     int64
 2   Height             13 non-null     int64
 3   Weight             13 non-null     int64
 4   Blood              13 non-null     object
 5   relative_headache  13 non-null     object
dtypes: int64(3), object(3)
memory usage: 752.0+ bytes

In [53]:
data["relative_headache"]= data["relative_headache"].map(dict(yes=1, no=0))
data

    Gender  Age  Height  Weight   Blood  relative_headache
0   female   18     165      53   A Rh+                  1
1   female   18     171      60   0 Rh+                  1
2     male   19     167      73   0 Rh+                  1
3     male   18     170      65  AB Rh+                  0
4     male   18     183      76   0 Rh+                  0
5     male   20     179     100   0 Rh+                  0
6     male   18     175      72   A Rh+                  1
7     male   18     175      90   0 Rh+                  1
8     male   18     179      61   0 Rh+                  1
9   female   18     163      57   A Rh+                  1
10    male   18     181      82   B Rh+                  1
11    male   18     177      81   0 Rh+                  1
12    male   19     181      93   0 Rh+                  1

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             13 non-null     object
 1   Age                13 non-null     int64
 2   Height             13 non-null     int64
 3   Weight             13 non-null     int64
 4   Blood              13 non-null     object
 5   relative_headache  13 non-null     int64
dtypes: int64(4), object(2)
memory usage: 752.0+ bytes

In [132]:
for i in range(data.shape[0]):
    data.Blood[i] = data.Blood[i][:-4]
data

<ipython-input-132-23bd05bcb8bc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Blood[i] = data.Blood[i][:-4]

    Gender  Age  Height  Weight Blood  relative_headache
0   female   18     165      53                        1
1   female   18     171      60                        1
2     male   19     167      73                        1
3     male   18     170      65                        0
4     male   18     183      76                        0
5     male   20     179     100                        0
6     male   18     175      72                        1
7     male   18     175      90                        1
8     male   18     179      61                        1
9   female   18     163      57                        1
10    male   18     181      82                        1
11    male   18     177      81                        1
12    male   19     181      93                        1

In [133]:
# we have 17 unique values like male-female- 18 19  A B etc
# we can use them as original names
# or we can convert all the possible values to an integer like 100 - 117
# like male = 100, female = 101, 19 = 102 , 19 = 103 ... no = 116
# or we can give them alphabetical chracters like A B C D

In [151]:
for i in df.columns:
    print(df[i].unique())
#we need a dict to store these as an order

['female' 'male']
[18 19 20]
[165 171 167 170 183 179 175 163 181 177]
[ 53  60  73  65  76 100  72  90  61  57  82  81  93]
['A Rh+' '0 Rh+' 'AB Rh+' 'B Rh+']
['yes' 'no']

In [152]:
for i in df.columns:
    print(df[i].nunique())

2
3
10
13
4
2

In [153]:
total_unique_values = 0
for i in df.columns:
    total_unique_values += df[i].nunique()
total_unique_values

34

In [154]:
# we'll have 17 after data binning - for weight range
bins = [50, 75, 90, 100]
labels = ["W1","W2","W3"]
df['Weight'] = pd.cut(df['Weight'], bins=bins, labels=labels)
print (df)

    Gender  Age  Height Weight   Blood relative_headache
0   female   18     165     W1   A Rh+               yes
1   female   18     171     W1   0 Rh+               yes
2     male   19     167     W1   0 Rh+               yes
3     male   18     170     W1  AB Rh+                no
4     male   18     183     W2   0 Rh+                no
5     male   20     179     W3   0 Rh+                no
6     male   18     175     W1   A Rh+               yes
7     male   18     175     W2   0 Rh+               yes
8     male   18     179     W1   0 Rh+               yes
9   female   18     163     W1   A Rh+               yes
10    male   18     181     W2   B Rh+               yes
11    male   18     177     W2   0 Rh+               yes
12    male   19     181     W3   0 Rh+               yes

In [155]:
# we'll have 17 after data binning - for height range
bins2 = [160, 167, 175, 183]
labels2 = ["H1","H2","H3"]
df['Height'] = pd.cut(df['Height'], bins=bins2, labels=labels2)
print (df)

    Gender  Age Height Weight   Blood relative_headache
0   female   18     H1     W1   A Rh+               yes
1   female   18     H2     W1   0 Rh+               yes
2     male   19     H1     W1   0 Rh+               yes
3     male   18     H2     W1  AB Rh+                no
4     male   18     H3     W2   0 Rh+                no
5     male   20     H3     W3   0 Rh+                no
6     male   18     H2     W1   A Rh+               yes
7     male   18     H2     W2   0 Rh+               yes
8     male   18     H3     W1   0 Rh+               yes
9   female   18     H1     W1   A Rh+               yes
10    male   18     H3     W2   B Rh+               yes
11    male   18     H3     W2   0 Rh+               yes
12    male   19     H3     W3   0 Rh+               yes

In [156]:
# run unique counts again
total_unique_values = 0
for i in df.columns:
    total_unique_values += df[i].nunique()
total_unique_values 
# there is no problem anymore

17

In [157]:
for i in df.columns:
    for j in range(df[i].nunique()):
        print(df[i].unique()[j])

female
male
18
19
20
H1
H2
H3
W1
W2
W3
A Rh+
0 Rh+
AB Rh+
B Rh+
yes
no

In [158]:
unique_int = 0
our_dict = {}
for i in df.columns:
    for j in range(df[i].nunique()):
        our_dict[df[i].unique()[j]] = unique_int
        unique_int += 1
        
print(our_dict)

#now assign the integer values for each unique values

{'female': 0, 'male': 1, 18: 2, 19: 3, 20: 4, 'H1': 5, 'H2': 6, 'H3': 7, 'W1': 8, 'W2': 9, 'W3': 10, 'A Rh+': 11, '0 Rh+': 12, 'AB Rh+': 13, 'B Rh+': 14, 'yes': 15, 'no': 16}

In [159]:
# there is category datatypes in data- we have to convert them to str for further operations like conditional things
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             13 non-null     object
 1   Age                13 non-null     int64
 2   Height             13 non-null     category
 3   Weight             13 non-null     category
 4   Blood              13 non-null     object
 5   relative_headache  13 non-null     object
dtypes: category(2), int64(1), object(3)
memory usage: 778.0+ bytes

In [160]:
# conversion
df['Height'] = df.Height.astype(str)
df['Weight'] = df.Weight.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             13 non-null     object
 1   Age                13 non-null     int64
 2   Height             13 non-null     object
 3   Weight             13 non-null     object
 4   Blood              13 non-null     object
 5   relative_headache  13 non-null     object
dtypes: int64(1), object(5)
memory usage: 752.0+ bytes

In [161]:
for i in df.columns:
    for j in range(df.shape[0]):
        df[i][j] = our_dict[df[i][j]]

<ipython-input-161-1122941d1a17>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = our_dict[df[i][j]]

In [166]:
print(df)

   Gender  Age Height Weight Blood relative_headache
0       0    2      5      8    11                15
1       0    2      6      8    12                15
2       1    3      5      8    12                15
3       1    2      6      8    13                16
4       1    2      7      9    12                16
5       1    4      7     10    12                16
6       1    2      6      8    11                15
7       1    2      6      9    12                15
8       1    2      7      8    12                15
9       0    2      5      8    11                15
10      1    2      7      9    14                15
11      1    2      7      9    12                15
12      1    3      7     10    12                15

In [167]:
print(our_dict)

{'female': 0, 'male': 1, 18: 2, 19: 3, 20: 4, 'H1': 5, 'H2': 6, 'H3': 7, 'W1': 8, 'W2': 9, 'W3': 10, 'A Rh+': 11, '0 Rh+': 12, 'AB Rh+': 13, 'B Rh+': 14, 'yes': 15, 'no': 16}

In [168]:
df

   Gender  Age Height Weight Blood relative_headache
0       0    2      5      8    11                15
1       0    2      6      8    12                15
2       1    3      5      8    12                15
3       1    2      6      8    13                16
4       1    2      7      9    12                16
5       1    4      7     10    12                16
6       1    2      6      8    11                15
7       1    2      6      9    12                15
8       1    2      7      8    12                15
9       0    2      5      8    11                15
10      1    2      7      9    14                15
11      1    2      7      9    12                15
12      1    3      7     10    12                15

In [169]:
unique_int

17

In [207]:
L1 = {}
# btw we have %40 support value as a threshold value - choose 5 as thresh - couse this dataset has 13 item/row
# check the count for each value in data set
# this is first iteration there will be more 
for i in range(total_unique_values):
    for j in df.columns:
        count = 0
        for k in range(df.shape[0]):
            if int(df[j][k]) == int(i):
                count += 1
        if count > 4:
            print(count)
            print("greater")

10
greater
10
greater
6
greater
7
greater
8
greater
10
greater

In [ ]:
# I am just trying to make some improvements - this is not actual algorithm solution and also this one is data specific.
# Still updating